/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/debugbar
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db